@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Margarine&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.headerContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

.logo {
  height: 90px;
  margin-top: 5px;
}

.navLink {
  font-size: 1.2rem !important;
  padding: 10px 15px;
  border-radius: 5px;
}

.navLink:hover {
  background-color: rgb(248, 171, 0);
}

.navLinkActive {
  color: #b80a0a !important;
  text-underline-color: #28a745;
}

.navbar-toggler {
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.headerCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.headerTitle {
  font-family: "Margarine", sans-serif!important;
  font-size: 2rem;
  color: #fff;
  animation: fadeIn 2s ease-in-out, colorChange 4s infinite alternate;
  text-transform: uppercase;
}

.largeLetter {
  font-size: 3rem; /* Adjust the size as needed */
}

.disabledLink {

  color: gray;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes colorChange {
  0% {
    color: #ff6347; /* Tomato */
  }
  100% {
    color: #4682b4; /* Steel Blue */
  }
}

@media (max-width: 991px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
  }

  .headerCenter {
    position: static;
    transform: none;
    margin: 10px 0;
    order: 2;
  }

  .navbar-toggler {
    order: 3;
    margin-top: 10px;
  }

  .navbarNav {
    flex-direction: column;
    width: 100%;
    text-align: center;
    order: 4;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navLink {
    width: 100%;
    margin-top: 10px;
  }
}
