.sectionCompare {
    background: linear-gradient(135deg, #1f1f1f, #4b4b4b);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;

}

.sectionCompare h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.sectionCompare h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.sectionCompare h4 {
    font-size: 1.3rem;
    color: rgba(248, 171, 0, 0.9);
}

.sectionChosen {
    width: 100%;
}

.customRow {
    --bs-gutter-x: 3; /* Ustaw wartość na 0 lub inną, która Ci odpowiada */
}
