html,
body {
  margin: 0;
  padding: 0;
  /*background: linear-gradient(90deg, #00040e, #0d0d83);*/
  background: linear-gradient(90deg, rgba(0, 69, 211, 0.3), #bfbfbf);


}
* {
box-sizing: border-box;
}

/*zmienne ustawic czcionki, kolory, wielkosci i szerokości  , brakpointy do mobile*/

:root {
  --dark_blue: #2c1f72;
  --dark_yellow: #ffbd00;
  --pink: #ea8096;
  --green: #549f19;
  --blue: #84a9ff;
  --cream: #fbeccc;
  --gray: #d8d8d8;
  --light_yellow: #fbeccc;
  --light_blue: #dfe4ff;
  --light_purple: #7f76aa;
  --light_light_blue: #f5f7ff;
  --white: #ffffff;
  --light_gray: #fbfaff;
  --dark_gray: #1f1e2c;
  --black: #000000;

  --dark_blue_rgb: 44, 31, 114;
  --dark_yellow_rgb: 255, 189, 0;
  --white_rgb: 255, 255, 255;
  --semi_light_gray_rgb: 176, 176, 176;
  --dark_gray_rgb: 31, 30, 44;

  --font_size_megasuperplus_64: 64px;
  --font_size_header_48: 48px;
  --font_size_header_36: 36px;
  --font_size_description_24: 24px;
  --font_size_subpoint_18: 18px;
  --font_size_subpoint_16: 16px;
  --font_size_subpoint_14: 14px;
  --font_size_subsubpoint_12: 12px;
  --font_size_subsubpoint_10: 10px;

  --font_weight_bold: 900;
  --font_weight_semi_bold: 700;
  --font_weight_normal: 400;

  /*--breakpoint_mobile: 767px;*/
  /*--breakpoint_tablet: 1279px;*/
}
